<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
     <form method="post">
        <input type="text" name="data_inicio" placeholder="now-3d/d">
        <input type="text" name="data_fim" placeholder="now/d">
        <input type="text" name="host_elastic" placeholder="0.0.0.0">
        <input type="text" name="email" placeholder="xxxx@gmail.com">
        <button type="submit">Buscar</button>
        {% if sucesso %}
            Sucesso você recebera um email com o txt em breve
        {% else %}
            {{msg}}
        {% endif %}
    </form>
    </body>

</html>